
.vs/DriveTools/xs/project-cache/DriveTools-Debug.json
.vs/DriveTools/xs/UserPrefs.xml
DriveTools/obj/Debug/netcoreapp3.1/DriveTools.csproj.AssemblyReference.cache
DriveTools/obj/Release/netcoreapp3.1/PublishOutputs.890c504d0b.txt
DriveTools/Properties/.DS_Store
DriveTools/Properties/PublishProfiles/FolderProfile.pubxml
DriveTools/obj/Release/netcoreapp3.1/DriveTools.GeneratedMSBuildEditorConfig.editorconfig
DriveTools/obj/Release/netcoreapp3.1/DriveTools.genruntimeconfig.cache
DriveTools/obj/Release/netcoreapp3.1/DriveTools.csproj.FileListAbsolute.txt
DriveTools/obj/Release/netcoreapp3.1/DriveTools.csproj.CoreCompileInputs.cache
DriveTools/obj/Release/netcoreapp3.1/DriveTools.csproj.AssemblyReference.cache
DriveTools/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
.DS_Store
DriveTools/.DS_Store
DriveTools/bin/Debug/netcoreapp3.1/DriveTools.dll
DriveTools/bin/Debug/netcoreapp3.1/DriveTools.pdb
DriveTools/.DS_Store
DriveTools/bin/Debug/netcoreapp3.1/DriveTools.dll
DriveTools/bin/Debug/netcoreapp3.1/DriveTools.pdb
DriveTools/.DS_Store
DriveTools/.DS_Store
*.pdb
*.json
*.dll
DriveTools/DriveTools.exe
*.exe
DriveTools/obj/Debug/netcoreapp3.1/DriveTools.csproj.FileListAbsolute.txt
DriveTools/obj/Debug/netcoreapp3.1/DriveTools.csproj.CoreCompileInputs.cache
DriveTools/obj/Debug/netcoreapp3.1/DriveTools.csproj.FileListAbsolute.txt
DriveTools/obj/Debug/netcoreapp3.1/DriveTools.dll
DriveTools/obj/Debug/netcoreapp3.1/DriveTools.GeneratedMSBuildEditorConfig.editorconfig
DriveTools/obj/Debug/netcoreapp3.1/DriveTools.genruntimeconfig.cache
DriveTools/obj/Debug/netcoreapp3.1/DriveTools.pdb
DriveTools/obj/DriveTools.csproj.nuget.dgspec.json
DriveTools/obj/DriveTools.csproj.nuget.g.props
*.cache
DriveTools/obj/Release/netcoreapp3.1/DriveTools.AssemblyInfo.cs
DriveTools/obj/project.nuget.cache
DriveTools/obj/project.assets.json
